<%

var position;
var prevLink;
var nextLink;
var blogPostSlugs = public.blog._data.blogPosts;
var currentBlogPostSlug = current.path[current.path.length - 2];

if (blogPostSlugs[blogPostSlugs.length - 1] !== currentBlogPostSlug) {
  position = blogPostSlugs.indexOf(currentBlogPostSlug);
  prevLink = '<a href="/blog/' + blogPostSlugs[position + 1] + '"><span class="fa fa-arrow-left"></span> Previous</a>';
} else {
  prevLink = '<span class="fa fa-arrow-left"></span> Previous';
}

if (blogPostSlugs[0] !== currentBlogPostSlug) {
  position = blogPostSlugs.indexOf(currentBlogPostSlug);
  nextLink = '<a href="/blog/' + blogPostSlugs[position - 1] + '">Next <span class="fa fa-arrow-right"></a>';
} else {
  nextLink = 'Next <span class="fa fa-arrow-right"></a>';
}

%>

<div class="previous-next-item-navigation-links">
  <div class="container">
    <span class="nav-item"><%- prevLink %></span>
    <span class="nav-item"><%- nextLink %></span>
  </div>
</div>

