<!DOCTYPE html>
<html lang="ru">
  <%- partial("../../_partials/_head") %>
  <body>
    <header>
      <%- partial("../../_partials/_main-navigation-links") %>
    </header>

    <article class="container introspection-page" id="introspection">
      <div class="row">
        <div class="col-md-8">
          <%- yield %>
        </div>
      </div>
    </article>

    <%- partial("../../_partials/_footer") %>
  </body>
</html>
