footer {
  font-size: 0.7em;
  font-family: 'PT Sans', sans-serif;
  background-color: #111;
  color: #fefefe;
  text-transform: uppercase;
  padding: 40px 0;

  a {
    font-weight: bold;
    color: #fefefe;
    text-decoration: none;
    margin-right: 20px;

    &:focus, &:active, &:visited {
      color: #fefefe;
      text-decoration: none;
    }

    &:hover {
      color: #ff6668;
      text-decoration: none;
    }
  }

  .content-navigation {
    .brand-name {
      font-size: 22px;
      font-weight: 600;
      margin-right: 10px;

      a:hover {
        color: inherit;
      }
    }
  }

  .social-media-navigation {
    margin-top: 20px;

    .fa {
      font-size: 22px;
    }
  }
}
