.introspection-page {
  .introspection-date {
    display: block;
    color: #777;
  }

  .introspection-content {
    padding: 40px 0;
    line-height: 1.5em;

    h1 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    figure {
      margin: 20px 0;
    }

    code {
      color: #000;
      font-family: inherit;
      font-size: inherit;
      background-color: yellow;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  h1 {
    margin-top: 10px;
  }
}
