.thought-page {
  background-color: #fff;

  .thought-date {
    display: block;
    color: #777;
  }

  .thought-content {
    padding-bottom: 30px;
    line-height: 1.5em;

    figure {
      margin: 20px 0;

      img, iframe {
        width: 100%;
      }
    }

    code {
      color: #000;
      font-family: inherit;
      font-size: inherit;
      background-color: yellow;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
