$black-color: #333;

html, body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  color: $black-color;
  background-color: #111;
}

h1 {
  color: $black-color;
}

@import 'header';
@import 'landing';
@import 'entry';
@import 'entry-list';
@import 'footer';
