<%

var position;
var prevLink;
var nextLink;
var poetry = public.poetry._data.poetry;
var currentPoetrySlug = current.path[current.path.length - 2];

if (poetry[poetry.length - 1] !== currentPoetrySlug) {
  position = poetry.indexOf(currentPoetrySlug);
  prevLink = '<a href="/poetry/' + poetry[position + 1] + '"><span class="fa fa-arrow-left"></span> Назад</a>';
} else {
  prevLink = '<span class="fa fa-arrow-left"></span> Назад';
}

if (poetry[0] !== currentPoetrySlug) {
  position = poetry.indexOf(currentPoetrySlug);
  nextLink = '<a href="/poetry/' + poetry[position - 1] + '">Вперёд <span class="fa fa-arrow-right"></a></a>';
} else {
  nextLink = 'Вперёд <span class="fa fa-arrow-right"></span>';
}

%>

<div class="previous-next-item-navigation-links">
  <div class="container">
    <span class="nav-item"><%- prevLink %></span>
    <span class="nav-item"><%- nextLink %></span>
  </div>
</div>

