<header>
  <%- partial("_partials/_main-navigation-links") %>
</header>

<article class="landing-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%- partial("_partials/_landing_blog_list") %>
      </div>
    </div>
  </div>
</article>

<%- partial("_partials/_footer") %>
