<footer>
  <div class="container">

    <div class="content-navigation">
      <span class="brand-name"><a href="/">Артемий Федосеев</a></span>
      <span><a href="/thoughts">Мысли</a></span>
      <span><a href="/poetry">Стихи</a></span>
    </div>

    <div class="social-media-navigation">
      <a href="mailto:fedosejev.com@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>

      <a href="http://linkedin.com/in/artemij" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>

      <a href="http://instagram.com/fedosejev" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>

      <a href="http://twitter.com/artemy" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="https://vk.com/artfedosejev" target="_blank">
        <i class="fa fa-vk"></i>
      </a>
    </div>
  </div>
</footer>
