<header>
  <div class="container">
    <div class="navigation-links">
      <span>&uarr; <a href="/">Главная</a></span>
      <span>&uarr; <a href="/thoughts">Мысли</a></span>
      <span>&uarr; <a href="/poetry">Стихи</a></span>
      <span>&uarr; <a href="/introspection">Интроспекция</a></span>
    </div>
  </div>
</header>
