<section class="content-section">
  <h3 class="content-header">Blog</h3>
  <ul>

  <%
    var blogPosts = public.blog._data.blogPosts;
    var NUMBER_OF_ENTRIES = 3;
    var counter = 0;

    var blogPostSlug;
    var blogPost;

    while (counter < NUMBER_OF_ENTRIES) {

      blogPostSlug = blogPosts[blogPosts.length - (counter + 1)];
      blogPost = public.blog[blogPostSlug]._data.index;
  %>

    <li>
      <a href="/blog/<%- blogPostSlug %>">
        <%- blogPost.title %>
      </a>
    </li>

  <%
      counter = counter + 1;

      if (counter === blogPosts.length) {
        counter = NUMBER_OF_ENTRIES;
      }
    }
  %>

  </ul>
</section>
