<section class="content-section">
  <h3 class="content-header">Интроспекция</h3>
  <ul>

  <%
    var introspections = public.introspection._data.introspection;
    var NUMBER_OF_INTROSPECTIONS = 3;
    var counter = 0;

    var introspectionSlug;
    var introspection;

    while (counter < NUMBER_OF_INTROSPECTIONS) {

      introspectionSlug = introspections[introspections.length - (counter + 1)];
      introspection = public.introspection[introspectionSlug]._data.index;
  %>

    <li>
      <a href="/introspection/<%- introspectionSlug %>">
        <%- introspection.title %>
      </a>
    </li>

  <%
      counter = counter + 1;

      if (counter === introspections.length) {
        counter = NUMBER_OF_INTROSPECTIONS;
      }
    }
  %>

  </ul>
</section>
