<div class="main-navigation-links">
  <div class="container">
    <span class="brand-name"><a href="/">Артемий Федосеев</a></span>
    <span><a href="/thoughts">Мысли</a></span>
    <span><a href="/poetry">Стихи</a></span>
  </div>
</div>

