<article class="entry-list-page">
  <div class="container">
    <ul class="entry-list">
    <% public.blog._data.blogPosts.reverse().forEach(function (blogPostSlug) { %>
      <li>
        <small>
          <%= public.blog[blogPostSlug]._data.index.dateString %>
        </small>
        <a href="/blog/<%= blogPostSlug %>">
          <%= public.blog[blogPostSlug]._data.index.title %>
        </a>
      </li>
    <% }); %>
    </ul>
  </div>
</article>
