<!DOCTYPE html>
<html lang="ru">
  <%- partial("../../_partials/_head") %>
  <body>
    <%- partial("_partials/_header") %>

    <article class="thought-page">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <%- yield %>
          </div>
        </div>
      </div>
    </article>

    <%- partial("../../_partials/_footer") %>
  </body>
</html>
